body {
	background-color:rgb(132, 151, 255);
}


header {
	display: block
	margin-left: auto
	margin-right: auto
	width: 500px;
	text-align: center;
}

.subhead {
	color: rgb(246, 247, 255);
	font-family: "Helvetica", sans-serif;
	font-size: 20px
}

h1 {
	color: rgb(246, 247, 255);
	font-family: "Helvetica", sans-serif;
	font-size: 32px;
	text-align: center; 
	font-weight: bold;
}

p, ul, li, h3 {
	color: rgb(246, 247, 255);
	font-family: "Helvetica", sans-serif;
	font-weight: normal;
	font-size: 20px;
}

h2 {
	color: rgb(246, 247, 255);
	font-family: "Helvetica", sans-serif;
	font-weight: normal;
	font-size: 24px;	
}

.categories {
	color: rgb(246, 247, 255);
	font-family: "Helvetica", sans-serif;
	font-weight: normal;
	font-size: 20px;	
}
